<header class="simon-range-header">
    <div class="header-container">
      <!-- Логотип и название -->
      <div class="logo-container">
        <a href="/" class="logo-link">
          <img src="C:\Users\Mihail\Desktop\my-project-angular-1\images\header-ico.png" alt="SIMON RANGE - Страйкбольный магазин" width="50" class="logo-img">
          <span class="logo-text">SimonRange</span>
        </a>
      </div>
  
      <!-- Основное меню -->
      <nav class="main-nav">
        <ul class="nav-list">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link">Каталог</a>
            <div class="dropdown-menu">
              <a href="/assault" class="dropdown-item">Штурмовые винтовки</a>
              <a href="/pistols" class="dropdown-item">Пистолеты</a>
              <a href="/sniper" class="dropdown-item">Снайперские винтовки</a>
              <a href="/gear" class="dropdown-item">Экипировка</a>
              <a href="/ammo" class="dropdown-item">Боеприпасы</a>
            </div>
          </li>
          <li class="nav-item"><a href="/new" class="nav-link">Новинки</a></li>
          <li class="nav-item"><a href="/sale" class="nav-link">Акции</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">О нас</a></li>
          <li class="nav-item"><a href="/blog" class="nav-link">Блог</a></li>
        </ul>
      </nav>
  
      <!-- Иконки действий -->
      <div class="action-icons">
        <div class="search-box">
          <input type="text" placeholder="Поиск по каталогу..." class="search-input">
          <button class="search-btn">
            <i class="icon-search"></i>
          </button>
        </div>
        
        <a href="/account" class="icon-link" title="Личный кабинет">
          <i class="icon-user"></i>
        </a>
        
        <a href="/wishlist" class="icon-link" title="Избранное">
          <i class="icon-heart"></i>
        </a>
        
        <a href="/cart" class="icon-link cart-link" title="Корзина">
          <i class="icon-cart"></i>
          <span class="cart-counter">0</span>
        </a>
      </div>
    </div>
  </header>
